.flex {
  display: flex;
  flex-direction: column;
}

.image {
  width: 90%;
  height: 390px;
  border-radius: 12px;
}

.titleIkmage {
  text-align: center;
  text-decoration: none;
  color: black;
}
